{% extends 'base.html' %}

{% block title %} 首页 {% endblock %}

{% block css_js_static %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'User/js/index.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="body_layout">
        <div id="rotate_layout">
            <div id="rotate_content">
                <img src="{% static 'common_img/background1.jpg' %}">
                <img src="{% static 'common_img/background1.jpg' %}">
                <img src="{% static 'common_img/background1.jpg' %}">
                <img src="{% static 'common_img/background1.jpg' %}">
                <img src="{% static 'common_img/background1.jpg' %}">
                <img src="{% static 'common_img/background1.jpg' %}">
                <img src="{% static 'common_img/background1.jpg' %}">
                <img src="{% static 'common_img/background1.jpg' %}">
                <img src="{% static 'common_img/background1.jpg' %}">
            </div>

        </div>
    </div>
{% endblock %}
